Tests: rebuild
Depends: @builddeps@, fakeroot
Restrictions: allow-stderr, skippable

Tests: ubuntu-regression-suite
Depends: build-essential, gcc-multilib [amd64 armhf i386], gdb, git, python2 | python, bzr
Restrictions: allow-stderr, isolation-machine, breaks-testbed, skippable
