config RTL8822BE
	tristate "Realtek RTL8822BE Wireless Network Adapter"
	depends on PCI
	select RTLWIFI_VENDOR
	select RTLWIFI_VENDOR_PCI
	select RTL_VENDOR_BTCOEXIST
	select RTLHALMAC
	select RTLPHYDM
	---help---
	This is the driver for Realtek RTL8822BE 802.11ac PCIe
	wireless network adapters.

	If you choose to build it as a module, it will be called rtl8822be

config RTLWIFI_VENDOR
	tristate
	select FW_LOADER

config RTLWIFI_VENDOR_PCI
	tristate

config RTLWIFI_VENDOR_USB
	tristate

config RTL_VENDOR_BTCOEXIST
	tristate
	depends on RTL8822BE
	default y

config RTLHALMAC
	tristate
	depends on RTL8822BE
	default y

config RTLPHYDM
	tristate
	depends on RTL8822BE
	default y
