config VIDEO_INTEL_IPU
	tristate "Intel IPU driver"
	depends on ACPI
	depends on MEDIA_SUPPORT
	depends on MEDIA_PCI_SUPPORT
	select IOMMU_API
	select IOMMU_IOVA
	select X86_DEV_DMA_OPS if X86
	select VIDEOBUF2_DMA_CONTIG
	select V4L2_FWNODE
	select PHYS_ADDR_T_64BIT
	select COMMON_CLK
	help
	  This is the Intel imaging processing unit, found in Intel SoCs and
	  used for capturing images and video from a camera sensor.

	  To compile this driver, say Y here!

choice
	prompt "intel ipu generation type"
	depends on VIDEO_INTEL_IPU
	default VIDEO_INTEL_IPU6

config VIDEO_INTEL_IPU6
	bool "Compile for IPU6 driver"
	help
	  Sixth generation Intel imaging processing unit found in Intel
	  SoCs.

	  To compile this driver, say Y here!
endchoice

config VIDEO_INTEL_IPU_TPG
	bool "Compile for TPG driver"
	help
	  If selected, TPG device nodes would be created.

	  Recommended for driver developers only.

	  If you want to the TPG devices exposed to user as media entity,
	  you must select this option, otherwise no.

config VIDEO_INTEL_IPU_WERROR
	bool "Force GCC to throw an error instead of a warning when compiling"
	depends on VIDEO_INTEL_IPU
	depends on EXPERT
	depends on !COMPILE_TEST
	default n
	help
	  Add -Werror to the build flags for (and only for) intel ipu module.
	  Do not enable this unless you are writing code for the ipu module.

	  Recommended for driver developers only.

	  If in doubt, say "N".

source "drivers/media/pci/intel/ipu3/Kconfig"
